body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    background-color: #d35400;
    color: white;
    padding: 20px;
    text-align: center;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #e67e22;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

.nav ul li a:hover {
    background-color: #d35400;
    border-radius: 5px;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border-radius: 12px;
    margin-top: 20px;
  }

  table {
    width: 90%;
    border-collapse: collapse; 
    border: 1px solid #ffa32b; 
    background-color: #fcc8a5; 
    margin: 0 auto;
}

th, td {
    padding: 10px; 
    text-align: center; 
    border: 3px solid #ffa32b;
    color: #251003;
}

th {
    background-color: #ff9f0e; /* Fondo gris en cabeceras */
}
